/* */
* {
  margin: 0;
  padding: 0;
}

#wrap {
  color: #fff;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
#header {
  height: 140px;
  line-height: 140px;
  background-color: #ffe1e4;
}
#banner {
  height: 450px;
  line-height: 450px;
  background: #fbd6e3;
}
#contents {
  height: 950px;
  line-height: 950px;
  background: #ead5ee;
}
#footer {
  height: 220px;
  line-height: 220px;
  background: #d6ebfd;
}
/*자식이 height 값을 가지고 있으면 부모의 height 값은 없어도 된다.
width:100%는 기본 값이기 때문에 없어도 된다.
부모로 컨트롤 하는 방법
*/
.container {
  width: 1000px;
  height: inherit;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
}